<div class="all">
    <div class="bg"></div>
    <div class="close"></div>
    <div class="menu">
        <div class="menu-top"></div>
        <div class="menu-list">
            <ul>
                <li class="menu-nav-item"><a class="nav-item-link" href="<%=rootPath%>/index" id="index">首页</a></li>
                <li class="menu-nav-item"><a class="nav-item-link" href="<%=rootPath%>/politics" id="politics">时政要闻</a>
                </li>
                <li class="menu-nav-item"><a class="nav-item-link" href="<%=rootPath%>/original" id="original">原创出品</a>
                </li>
                <li class="menu-nav-item"><a class="nav-item-link" href="<%=rootPath%>/videoTime"
                                             id="videoTime">视频即时报</a></li>
                <li class="menu-nav-item"><a class="nav-item-link has-sub-menu" id="category">热门分类<img
                        src="<%=rootPath%>/images/icon/updown.png" class="updown"></a>
                    <nav class="sub-nav-menu">
                        <li class="sub-nav-item"><a href="<%=rootPath%>/category/0" class="sub-nav-item-link">时政</a></li>
                        <li class="sub-nav-item"><a href="<%=rootPath%>/category/1" class="sub-nav-item-link">新闻</a></li>
                        <li class="sub-nav-item"><a href="<%=rootPath%>/category/2" class="sub-nav-item-link">原创</a></li>
                        <li class="sub-nav-item"><a href="<%=rootPath%>/category/3" class="sub-nav-item-link">直播访谈</a></li>
                        <li class="sub-nav-item"><a href="<%=rootPath%>/category/4" class="sub-nav-item-link">娱乐</a></li>
                        <li class="sub-nav-item"><a href="<%=rootPath%>/category/5" class="sub-nav-item-link">体育</a></li>
                        <li class="sub-nav-item"><a href="<%=rootPath%>/category/6" class="sub-nav-item-link">旅游</a></li>
                        <li class="sub-nav-item"><a href="<%=rootPath%>/category/7" class="sub-nav-item-link">教育</a></li>
                        <li class="sub-nav-item"><a href="<%=rootPath%>/category/8" class="sub-nav-item-link">生活</a></li>
                        <li class="sub-nav-item"><a href="<%=rootPath%>/category/9" class="sub-nav-item-link">财经</a></li>
                        <li class="sub-nav-item"><a href="<%=rootPath%>/category/10" class="sub-nav-item-link">科技</a></li>
                        <li class="sub-nav-item"><a href="<%=rootPath%>/category/11" class="sub-nav-item-link">房产</a></li>
                        <li class="sub-nav-item"><a href="<%=rootPath%>/category/12" class="sub-nav-item-link">汽车</a></li>
                    </nav>
                </li>
            </ul>
        </div>
        <div class="menu-bottom"></div>
    </div>
</div>